<div class="modal hide fade" id='notes_<%=q.id%>'>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Notes</h3>
  </div>
  <%= form_tag '/quotes/notes_save', :class=>'form',:style=>'margin-bottom:0' do%>
    <div class="modal-body">
		  <%= hidden_field_tag :quote_id,q.id %>
			<%=text_area_tag :notes,q.note.description,:style=>'width:500px;height:300px'%>
    </div>
    <div class="modal-footer">
	  <button class="btn" data-dismiss="modal">Close</button>
    <input type='Submit' class="btn btn-primary" onclick='NotesSubmit(this);return false;' value='Save'/>
    </div>
  <%end%>

</div>