<p>Hi GoVerse Enthusiast,  Thank you for submitting a photo. Our submission team will give it individual attention to see if it fits with our collection and get back to you very soon.</p>

<p>Please remember that the best images for GoVerse are taken in portrait view, are simple in composition, have a centered or very near center subject, and have a rich color scheme. Also, be sure you have reviewed our license agreement (put link here) so you understand how your photo may be used by the GoVerse and TMC Youth teams.</p>

<p>Again, thank you so much for your submission. Your interest and involvement in GoVerse is deeply appreciated. If you have any questions, please be in touch.</p>

With gratitude,<br/>
The GoVerse Content Management Team