<p>Not Accepted:</p>

<p>Dear Friend, We are really grateful that you took the time to send in your photo, though we are sorry that we cannot use it right now. As we blend text with photography, sometimes even the most beautiful photos don't make the GoVerse cut.</p>

<p>So, don't be discouraged. We'd love to see what else inspires you through your camera lense. Keep those submissions coming. And remember, the best images for GoVerse are taken in portrait view, are simple in composition, have a centered or very near center subject, and have a rich color scheme.</p>

<p>Thank you again, and we look forward to seeing new submissions from you.<p>

<p>The GoVerse Content Management Team</p>

<p>
Legal guidelines you've got to agree to:
</p>
<ol>
  <li>You created it, or have been given permission to distribute it by the copyright holder.</li>
  <li>It doesn't violate someone else's copyright by including someone else's photographs, artwork, etc.</li>
  <li>Everyone in your photo has given you permission to distribute it, including the parents of anybody younger than 18.</li>
  <li>You agree that by submitting this photo to GoVerse, you are granting rights to The First Church of Christ, Scientist to post the photo and use it in the GoVerse App, the GoVerse Website, the Photo of the Day page, gallery and archives. You understand that we may crop or adjust the size of the photo. These terms replace the Submissions paragraph in the Terms and Conditions on the Time4Thinkers.com site.</li>
</ol>