<p>Not Accepted:</p>

<p>Dear Friend, We are really grateful that you took the time to send in your photo, though we are sorry that we cannot use it right now. As we blend text with photography, sometimes even the most beautiful photos don't make the GoVerse cut.</p>

<p>So, don't be discouraged. We'd love to see what else inspires you through your camera lense. Keep those submissions coming. And remember, the best images for GoVerse are taken in portrait view, are simple in composition, have a centered or very near center subject, and have a rich color scheme.</p>

<p>Thank you again, and we look forward to seeing new submissions from you.<p>

<p>The GoVerse Content Management Team</p>