<p>Guess what?! We loved your photo, and we've put it in the rotation. Keep a lookout on your iOS GoVerse app and ontime4thinkers.com/goverse as your photo will be showing up soon.</p>

<p>Thank you so much for helping to expand our library of outstanding photography, and keep those photos coming! Please remember that all photos submitted to GoVerse are cropped and sized to work well on many screen sizes. We take the greatest care to bring out the best in all accepted submissions.</p>

<p>If you have any questions, let us know. We'd love to hear from you.</p>

The camera loves you, and so do we,<br/>
The GoVerse Content Management Team